@font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/AvenirFree/AvenirITCStd-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../fonts/AvenirFree/AvenirLTStd-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Roman';
    src: url('../fonts/AvenirFree/AvenirITCStd-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Lustria';
    src: url('../fonts/Lustria/Lustria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
